@main("About Pascal Rodriguez to Play") {

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">

                <h1>About me</h1>
                <p>My name is <strong>Pascal Rodriguez</strong>, I am an enthusiast software engineer living in Switzerland.</p>
                <p>I'm mainly <strong>coding using Scala, Java and Ruby</strong> on <a href="http://github.com/pascr/">github</a></p>

            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->


}
